<!-- movies/templates/home.html -->
{% extends 'base.html' %}
{% load static %}

{% block content %}

    {% if user.is_authenticated %}
        <div class="recommendation-button">
            <a href="{% url 'user_recommendations' %}" class="btn-primary">Poleć filmy</a>
        </div>
    {% else %}
        <div class="recommendation-button">
            <a href="{% url 'guest_recommendations' %}" class="btn-primary">Poleć filmy</a>
        </div>
    {% endif %}

    <h2>Najlepiej oceniane filmy</h2>
    <div class="movie-grid">
        {% for movie in top_rated_movies %}
            <div class="movie-card">
                {% if movie.poster_url %}
                    <img src="{{ movie.poster_url }}" alt="{{ movie.title }} Poster" class="poster-image">
                {% else %}
                    <div class="poster-placeholder"></div>
                {% endif %}
                <div class="card-body">
                    <h5>{{ movie.title }}</h5>
                    <p>Średnia ocena: {{ movie.avg_rating|default:"Brak ocen" }}</p>
                    <a href="{% url 'movie_detail' movie.id %}" class="btn-primary">Szczegóły</a>
                </div>
            </div>
        {% endfor %}
    </div>

    <h2>Najnowsze filmy</h2>
    <div class="movie-grid">
        {% for movie in newest_movies %}
            <div class="movie-card">
                {% if movie.poster_url %}
                    <img src="{{ movie.poster_url }}" alt="{{ movie.title }} Poster" class="poster-image">
                {% else %}
                    <div class="poster-placeholder"></div>
                {% endif %}
                <div class="card-body">
                    <h5>{{ movie.title }}</h5>
                    <p>Rok wydania: {{ movie.release_year }}</p>
                    <a href="{% url 'movie_detail' movie.id %}" class="btn-primary">Szczegóły</a>
                </div>
            </div>
        {% endfor %}
    </div>

    <h2>Najczęściej oceniane filmy</h2>
    <div class="movie-grid">
        {% for movie in most_rated_movies %}
            <div class="movie-card">
                {% if movie.poster_url %}
                    <img src="{{ movie.poster_url }}" alt="{{ movie.title }} Poster" class="poster-image">
                {% else %}
                    <div class="poster-placeholder"></div>
                {% endif %}
                <div class="card-body">
                    <h5>{{ movie.title }}</h5>
                    <p>Liczba ocen: {{ movie.rating_count }}</p>
                    <a href="{% url 'movie_detail' movie.id %}" class="btn-primary">Szczegóły</a>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock content %}
