<!-- movies/templates/movie_detail.html -->
{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="movie-detail">
        {% if movie.poster_url %}
            <img src="{{ movie.poster_url }}" alt="{{ movie.title }} Poster" class="poster-image-large">
        {% else %}
            <div class="poster-placeholder-large"></div>
        {% endif %}
        <div class="movie-info">
            <h2>{{ movie.title }}</h2>
            <p><strong>Rok wydania:</strong> {{ movie.release_year }}</p>
            <p><strong>Średnia ocena:</strong> {{ avg_rating|default:"Brak ocen" }}</p>
            <p><strong>Opis:</strong> {{ movie.description|default:"Brak opisu" }}</p>
            <!-- Możesz dodać więcej informacji, takich jak gatunki, obsada itp. -->
        </div>
    </div>

    <h3>Oceny użytkowników</h3>
    {% for rating in ratings %}
        <div class="rating">
            <p><strong>{{ rating.user.username }}</strong> ocenił na <strong>{{ rating.score }}</strong></p>
            <p>{{ rating.comment }}</p>
        </div>
    {% empty %}
        <p>Brak ocen dla tego filmu.</p>
    {% endfor %}
{% endblock content %}
