<!-- movies/templates/movie_detail.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ movie.title }}</title>
</head>
<body>
    <h1>{{ movie.title }}</h1>
    <p>Rok wydania: {{ movie.release_year }}</p>
    <p>Opis: {{ movie.description }}</p>
    <p>Gatunki: {{ movie.genres.all|join:", " }}</p>
    <p>Obsada: {{ movie.cast.all|join:", " }}</p>
    <p>Reżyserzy: {{ movie.directors.all|join:", " }}</p>
    <p>Średnia ocena: {{ avg_rating }}</p>

    <h2>Oceny</h2>
    <ul>
        {% for rating in ratings %}
            <li>{{ rating.user.username }}: {{ rating.score }}/10</li>
        {% endfor %}
    </ul>
</body>
</html>
